<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>Mechkylist - Home</title>
  <meta charset = "UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
</head>
<body>
    <!-- NAV BAR -->
    <div class='top-bar'>
        <div class="logo"><a class="top-a" href="home"><img src="../static/temp_images/logo.PNG"></a></div>
        <div class="top-div"><a class="top-a" href="keyboards">Keyboards</a></div>
        <div class="top-div"><a class="top-a" href="#">Keycaps</a></div>
    </div>

    <!-- GRID WRAPPER -->
    <div class="grid-wrapper">
        
    </div>
</body>
</html>             